.black-key {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.white-key {
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: black;
}

.white-key:pressed:hover {
    -fx-background-color: rgb(211, 211, 211);
}

.black-key:pressed:hover {
    -fx-background-color: rgb(82, 82, 82);
}

.black-key:hover  {
    -fx-background-color: rgb(56, 56, 56);
    -fx-text-fill: white;
}

.white-key:hover {
    -fx-background-color: rgb(230, 230, 230);
    -fx-text-fill: white;
}

.black-key-midi {
    -fx-background-color: rgb(98, 130, 150);
    -fx-text-fill: white;
}

.white-key-midi {
    -fx-background-color: rgb(138, 170, 190);
    -fx-text-fill: white;
}